/* Space out content a bit */
body {
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 20px;
  font-weight: 200;
  font-size: 20px;
  font-weight: 300;
  background-color: #FFFFFF;
  color:#181818;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  /*color:#FFCA36;*/
}

a:hover {
  /*color:#FFC116;*/
}

h2, h3, h4 {
  font-weight:400;
}

h2 {
  margin-top: 30px;
  margin-bottom: 12px;
}

h4 {
  margin-top: 20px;
}

img {
    max-width: 100%;
}

.lefty {
    text-align: left;
}

ul.centered {
    text-align: left;
    margin: 0 auto;
    display: inline-block;
    padding-right: 46px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-top: 30px;
  padding-bottom:10px;
  margin-bottom:30px;
  /*border-bottom: 1px solid #CECECE;*/
  background: black;
  border-radius: 4px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 0px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  font-size: 56px;
  font-weight: 800;
  color:#3D3D3D;
}

.header .logo {
    margin-bottom: 24px;
}

.header a {
    color: #FFCB36;
    font-size: 1.5rem;
}

ul.navlinks {
    list-style: none;
    padding-left: 0;
}

ul.navlinks li {
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
}

#content {
    text-align: center;
    margin: 0px 40px;
}

#content.nomargin {
    margin: 0;
}

/* Custom page footer */
.footer {
  margin-top:30px;
  padding-top: 30px;
  color: #777;
  border-top: 1px solid #CECECE;
  text-align: center;
  font-size: 14px;
}

.footer a {
  color: #AAA;
  transition: color 0.8s;
}

.footer a:hover {
  color: #131313;
}


/* Customize container */

@media (min-width: 768px) {
  .container {
    max-width: 900px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

hr {
  border:0px;
  border-bottom: 1px solid #CECECE;
}

#id_usp-primary p {
  margin-bottom:20px;
  text-align:center;

}

.text-large {
  font-size:24px;
}



/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #CECECE;
  border-radius: 0px !important;
  background-color: initial !important;
  padding-top: 24px;
  padding-bottom: 40px;
}

.jumbotron h1 {
    font-size:26px;
    line-height: 1.4;
    font-weight: 300;
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.jumbotron p {
  font-weight: 300;
}

.btn-order {
  padding: 10px 30px;
  font-size: 30px;
  line-height: 1.33;
  border-radius: 6px;
  font-weight: 200;
  margin:20px 18px;
  -webkit-transition: border 0.5s, background-color 0.5s; /* For Safari 3.1 to 6.0 */
  transition: border 0.5s, background-color 0.5s;
}

#pitchpage h1, #pitchpage h2, #pitchpage h3 {
    margin-top:0px;
}

/* Modal Fixes */
.modal-body {
    padding: 20px 40px;
    text-align:left;
}

body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom
{
    margin-right: 15px;
}

/* Custom */
#pitchpage .row div {
    padding-bottom: 20px;
}

.feature-list p {
    margin:14px 0px;
}

.feature-list .dot {
    color:#666;
}


.seen-in {
  margin-top:30px;
}

.seen-in-box {
  font-size: 18px;
  border: 1px solid #bbb;
  float: left;
  /*display: inline-block;*/
  border-radius: 6px;
  /*padding: 14px 10px;*/
  margin:20px;
  width: 240px;
  height: 106px;
  background: white;
  display: table;

  -webkit-transition: border 1s; /* For Safari 3.1 to 6.0 */
  transition: border 1s;
}

.seen-in-box .image-container {
    display: table-cell;
    vertical-align: middle;
}

.seen-in-box:hover {
  border: 1px solid #999;
}

.seen-in-box img {
  max-width:85%;
  max-height: 70px;

  margin: auto;
  /*margin-top:24px;
  margin-bottom:24px;*/
}

.seen-in-box.rhizo {
    background: #181818;
}

.seen-in-box.bildende img {
    max-height: 30px;
}

/*.seen-in-box .image-container img {
}*/

.modal {
  color:#131313;
}

.social-channels img {
    max-width: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.footer-social img,
.contact-social img {
    max-width: 22px;
    margin-top:10px;
    margin-left: 6px;
    margin-right: 6px;
}

.social-newsletter-signup {
    /*margin-top: 40px;*/
}


.post-container .meta {
    font-size: 16px;
}

.post-container .post {
    margin-top: 14px;
}

.multilooper-thumbnails {
    /*background: #131313;*/
    border-radius: 4px;
    /*padding: 60px 20px;*/
}

.multilooper-thumbnail {
    /*max-width: 280px;*/
    max-height: 180px;
    margin: 10px;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
}

.help-thumbnail-premiere {
    max-height: 300px;
    margin: 10px;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
}

.product-list .product-title {
    margin-bottom: 6px;
    font-weight: 400;
}

.product-list .product-thumb {
    max-height: 160px;
    border-radius: 2px;
}

.product-list .col {
    margin-bottom: 20px;
}
